

	#header .my-cart-link:after, #header a.search-link:after,
	#small-nav .my-cart-link:after, #small-nav a.search-link:after{ border: none !important; }




.no-rgba #header.sticky-header .sticky-shadow{background: #ffffff; filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=97); opacity: 0.97;}









.footer-area{
	
	
	}

#footer{
	
	}









body,#nav ul li ul li a,#sticky-nav ul li ul li a
.more,
.avada-container h3,
.meta .date,
.review blockquote q,
.review blockquote div strong,
.image .image-extras .image-extras-content h4,
.image .image-extras .image-extras-content h4 a,
.project-content .project-info h4,
.post-content blockquote,
.button.large,
.button.small,
.ei-title h3,.cart-contents,
.comment-form input[type="submit"],
.wpcf7-form input[type="submit"],
.gform_wrapper .gform_button,
.woocommerce-success-message .button,
.page-title h3,
.blog-shortcode h3.timeline-title{
	font-family:"", Arial, Helvetica, sans-serif !important;
}
.avada-container h3,
.review blockquote div strong,
.footer-area  h3,
#slidingbar-area  h3,
.button.large,
.button.small,
.comment-form input[type="submit"],
.wpcf7-form input[type="submit"],
.gform_wrapper .gform_button{
	font-weight:bold;
}
.meta .date,
.review blockquote q,
.post-content blockquote{
	font-style:italic;
}


#nav, #sticky-nav, #navigation,
.side-nav li a{
	font-family:"", Arial, Helvetica, sans-serif !important;
}


#main .reading-box h2,
#main h2,
.page-title h1,
.image .image-extras .image-extras-content h3,
#main .post h2,
#sidebar .widget h3,
.tab-holder .tabs li a,
.share-box h4,
.project-content h3,
.author .author_title,
h5.toggle a,
.full-boxed-pricing ul li.title-row,
.full-boxed-pricing ul li.pricing-row,
.sep-boxed-pricing ul li.title-row,
.sep-boxed-pricing ul li.pricing-row,
.person-author-wrapper,
.post-content h1, .post-content h2, .post-content h3, .post-content h4, .post-content h5, .post-content h6,
.ei-title h2, #header .tagline,
table th,.project-content .project-info h4,
.woocommerce-success-message .msg,.product-title{
	font-family:"", Arial, Helvetica, sans-serif !important;
}


.footer-area  h3,#slidingbar-area  h3{
	font-family:"", Arial, Helvetica, sans-serif !important;
}
































































































.main-flex .flex-control-nav{display:none !important;}

@media only screen and (max-width: 940px){
	.breadcrumbs{display:none !important;}
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait){
	.breadcrumbs{display:none !important;}
}

.image-extras{display:none !important;}









.isotope .isotope-item {
  -webkit-transition-property: top, left, opacity;
     -moz-transition-property: top, left, opacity;
      -ms-transition-property: top, left, opacity;
       -o-transition-property: top, left, opacity;
          transition-property: top, left, opacity;
}



.header-v5 #header .logo{float:left;}



.rev_slider_wrapper{
	position:relative
}

.rev_slider_wrapper .shadow-left{
	position:absolute;
	background-image:url(http://localhost/dplan/wp-content/themes/Avada/images/shadow-top.png);
	background-repeat:no-repeat;
	background-position:top center;
	height:42px;
	width:100%;
	top:0;
	z-index:99;
}

.rev_slider_wrapper .shadow-left{top:-1px;}

.rev_slider_wrapper .shadow-right{
	position:absolute;
	background-image:url(http://localhost/dplan/wp-content/themes/Avada/images/shadow-bottom.png);
	background-repeat:no-repeat;
	background-position:bottom center;
	height:32px;
	width:100%;
	bottom:0;
	z-index:99;
}

.avada-skin-rev{
	border-top: 1px solid #d2d3d4;
	border-bottom: 1px solid #d2d3d4;
}

.rev_slider_wrapper .tp-leftarrow, .rev_slider_wrapper .tp-rightarrow{
	background-color: rgba(0, 0, 0, 0.5)  !important;
	background-repeat: no-repeat;
	width: 63px !important;
	height: 63px !important;
	position: absolute;
	top: 50% !important;
	margin-top:-31px !important;
	opacity:0.8;
	position:absolute !important;
}

.rev_slider_wrapper .tp-rightarrow{
	left:auto !important;
	right:0 !important;
}

.no-rgba .rev_slider_wrapper .tp-leftarrow, .no-rgba .rev_slider_wrapper .tp-rightarrow{
	background-color:#ccc  !important;
}

.rev_slider_wrapper:hover .tp-leftarrow,.rev_slider_wrapper:hover .tp-rightarrow{
	display:block !important;
	opacity:0.8 !important;
}

.rev_slider_wrapper .tp-leftarrow:hover, .rev_slider_wrapper .tp-rightarrow:hover{
	opacity:1 !important;
}

.rev_slider_wrapper .tp-leftarrow{
	background-image: url(http://localhost/dplan/wp-content/themes/Avada/images/ls_prev.png) !important;
	background-position: 19px 19px  !important;
	left: 0 !important;
	margin-left:0 !important;
	z-index:100;
	opacity: 0;
}

.rev_slider_wrapper .tp-rightarrow{
	background-image: url(http://localhost/dplan/wp-content/themes/Avada/images/ls_next.png)  !important;
	background-position: 29px 19px  !important;
	right: 0  !important;
	margin-left:0 !important;
	z-index:100;
	opacity: 0;
}

.tp-bullets .bullet.last{
	clear:none !important;
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (-o-min-device-pixel-ratio: 13/10), only screen and (min-resolution: 120dpi) {
	.rev_slider_wrapper .tp-leftarrow{
		background-image: url(http://localhost/dplan/wp-content/themes/Avada/images/ls_prev@2x.png) !important;
		-webkit-background-size:12px 24px !important;
		   -moz-background-size:12px 24px !important;
		     -o-background-size:12px 24px !important;
		        background-size:12px 24px !important;
	}

	.rev_slider_wrapper .tp-rightarrow{
		background-image: url(http://localhost/dplan/wp-content/themes/Avada/images/ls_next@2x.png) !important;
		-webkit-background-size:12px 24px !important;
		   -moz-background-size:12px 24px !important;
		     -o-background-size:12px 24px !important;
		        background-size:12px 24px !important;
	}
}
